@media all and (max-width: 1300px){
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
        padding-top: 50px;
    }

    .menu-mobile__trigger {
        position: absolute;
        top: 40px;
        display: block;
    }

    .menu-mobile__item a {
        text-decoration: underline dotted;
    }

    .menu-mobile__item:last-child a {
        color: #cb4335;
    }

    .intro__image--image {
        display: none;
    }

    .flex {
        text-align: center;
    }

    .text-container__title {
        font-size: 45px;
    }

    .text-container__button {
        margin: 0 auto;
    }

    .intro__icons {
        margin: 25px auto;
        width: auto;
    }

    .container__flex {
        display: block;
    }

    .card {
        width: fit-content;
    }

    .contacts__map iframe {
        width: 100%;
    }

    .footer__logo {
        margin: 0 auto;
    }

    .office-equipment__image img {
        width: 100%;
    }

    .advantages__item {
        width: 100%;
    }
    .advantages__flex {
        display: block;
    }

    .advantages {
        background: #a1362b;
    }
}